* {
	margin:0px;
	padding:0px;
}

body {
	background-color:#fafafa;
}
a {
	text-decoration:none;
	color:#ADADAD;
}
a:hover{
	color:#D2E9FF;
}
.navbar {
	position:fixed;
	top:0px;
	width:60%;
	height:72px;
	background-color:#FFFFFF;
	box-shadow:0px 0px 10px #d0d0d0;
	padding:0px 20%;
}
.navbar img {
	float:left;
	margin-top:15px;
}
.navbar ul{
	list-style-type:none;
}
.navbar li{
	float:right;
	margin:20px 20px 0px;
}

.content {
	width:60%;
	margin:7% 20% 0px;
	overflow:hidden;
}

.footer {
	width:60%;
	height:60%;
	padding:0px 20%;
	background-color:#FFFFFF;
	box-shadow:0px 0px 10px #d0d0d0;
	margin:10% 0px 0px;
}





.note {
	width:30%;
	height:45%;
	margin:20px 1.5%;
	float:left;
	box-shadow:0px 0px 10px #d0d0d0;
	background-color:#FFF;
}