* {
	padding:0px;
	maring:0px;
}
body {
	background: #282828;
}
a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:#8E8E8E;
	transition: color 0.3s linear;
}

.navbar {
	position:fixed;
	top:0px;
	left:0px;
	padding-top:10%;
	width:200px;
	height:100%;
	background-color:#373737;
	box-shadow: 0px 0px 5px #171717;
}

.btn-nav {
	padding:5px 10px 5px;
}

.btn-nav .fa {
	width:30px;
}

.btn-nav .text{
	font-size:25px;
	text-align: center;
	padding-left:25px;
}

.main {	
	margin:32px 32px 32px 250px;
	height:90%;
	padding:16px 32px;
	background-color:#373737;
}


.main input[name='title'] {
	max-width:96%;
	min-width: 96%;
	padding:2%;
	outline:none;
	background-color:#373737;
	border:none;
	font-size:20px;
	box-shadow:0px 0px 5px #171717 inset;
}

.main textarea {
	max-width:96%;
	min-width: 96%;
	padding:2%;
	outline: none;
	font-size:20px;
	border:none;
	background-color:#373737;
	box-shadow:0px 0px 5px #171717 inset;
}

.main .btn {
	display: inline-block;
	margin:16px 8px 0px 0px;
	width:100px;
	text-align: center;
	padding:5px 10px;
	background-color:#373737;
	box-shadow:0px 0px 5px #171717;
	border-radius: 16px;
}
.main .btn:hover {
	cursor:pointer;
	background-color:#8E8E8E;
	transition: background-color 0.3s linear;
}

/*标签*/

.tags .tag {
	display: inline-block;
	margin-top:8px;
	padding:5px 10px;
	background-color:#373737;
	box-shadow:0px 0px 5px #171717;
}

.tags .tag:hover {
	cursor:pointer;
}

/*选中的标签*/
.tags .tag-checked {
	display: inline-block;
	margin-top:8px;
	padding:5px 10px;
	background-color:#373737;
	box-shadow:0px 0px 5px #FCFCFC inset;
}

.tags .tag-checked:hover {
	cursor: pointer;
}