.main {	
	margin:32px 250px 32px 250px;
	height:90%;
	padding:32px 32px;
	background-color:#FCFCFC;
}

.main .btn {
	display: inline-block;
	margin:0px 8px 0px 0px;
	width:60px;
	text-align: center;
	padding:5px 5px;
	background-color:#373737;
	box-shadow:0px 0px 5px #171717;
	border-radius: 16px;
}
.main .btn:hover {
	cursor:pointer;
	background-color:#8E8E8E;
	transition: background-color 0.3s linear;
}

.main table {
	border-collapse: collapse;
	table-layout: auto;
	margin:0px auto;
}

table th, table td {
	padding:5px;
}

td {
	white-space: nowrap;
}

.tags .tag {
	display: inline-block;
	margin-top:8px;
	padding:5px 10px;
	background-color:#E0E0E0;
	box-shadow:0px 0px 2px #BEBEBE;
}

.tags .tag:hover {
	cursor:pointer;
}

.tags .tag:hover:after {
	content:"X";
	color:red;
}

.main .queryDialog {
	display: none;
	position:absolute;
	padding:30px;
	width:140px;
	height:90px;
	top:200px;
	left:600px;
	background-color:#D0D0D0;
	box-shadow: 0px 0px 10px #FFFFFF;
}


.queryDialog .text {
	text-align:center;
	padding-bottom: 4px;
}

.ok {
	display: inline-block;
	float:left;
	width:50px;
	height:30px;
	background-color: red;
	box-shadow: 0px 0px 5px red;
	line-height: 30px;
	text-align:center;
}
.ok:hover {
	cursor:pointer;
}
.cancel {
	display: inline-block;
	float:right;
	width:50px;
	height:30px;
	background-color: blue;
	box-shadow: 0px 0px 5px blue;
	line-height: 30px;
	text-align:center;
}
.cancel:hover {
	cursor:pointer;
}
.btn-addTag {
	padding:10px;
}
.btn-addTag:hover{
	cursor:pointer;
}


.main .addTagDialog {
	display: none;
	position:absolute;
	padding:30px;
	width:180px;
	height:90px;
	top:200px;
	left:600px;
	background-color:#FF8F59;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #555555;
}

.addTagDialog input {
	outline: none;
	width:150px;
	padding:10px;
	margin:4px 4px 8px 4px;
	background-color:#FFFFFF;
	box-shadow:0px 0px 5px #171717 inset;
}
